.multiBlock {
  color: #faf6f6;
  width: 100%;
  box-shadow: inset 0px 0px 10px 1px rgb(48, 72, 150);
  padding: 15px;
  padding: 20px 30px 45px 30px;
}

.header {
  font-size: 30px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 30px;
  font-weight: 700;
  color: #faf6f6;
}

.title {
  font-size: 30px;
  width: 100%;
  display: flex;
  padding: 30px;
  font-weight: 700;
  color: #faf6f6;
  justify-content: center;
}

.howMach {
  color: white !important;
  text-align: center;
}

.buttonWrapper {
  margin-top: 20px;
  width: 100%;

  display: flex;
  justify-content: center;

  button {
    width: 150px;
  }

  .button {
    background-color: rgb(110, 110, 110) !important;
  }
}

.variant {
  & > span > svg {
    color: #1976d2;
  }
}

.checkbox {
  display: flex;
  gap: 20px;
}
