.rightSection {
  display: flex;
  gap: 20px;
}

.leaders {
  font-size: 20px;
  gap: 15px;
  width: fit-content;
  padding: 30px;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 10px 10px 10px 10px;
  box-shadow: 0px 10px 15px rgb(48, 72, 150);
  background-color: rgb(23, 34, 70);
  margin-bottom: 50px;
}
